body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: .1rem;
    word-spacing: .3rem;
    gap: .8rem;
}

header {
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-evenly;
}

header button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-weight: 900;
    color: white;
}

button {
    letter-spacing: .1rem;
    word-spacing: .3rem;
    cursor: pointer;
}

.colorPicker * {
    cursor: pointer;
}

.colorName {
    color: rgb(100, 180, 255);
}

#color-title {
    background-color: rgb(40, 40, 40);
    padding: .5em;
    color: white;
    border-radius: 10px;
}

#color-title span {
    color: rgb(100, 180, 255);
}

#color-change {
    background-color: transparent;
    padding: .8rem;
    font-size: 1rem;
    font-weight: 750;
    text-transform: uppercase;
}

